In [13]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/FabulousErin/Project_2/main/static/data/crop_area_data.csv')
df.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2021,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...",TOTAL,NOT SPECIFIED,"316,164,000",NaN
1,SURVEY,2021,YEAR,NaN,STATE,ALABAMA,1.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...",TOTAL,NOT SPECIFIED,"2,190,000",NaN
2,SURVEY,2021,YEAR,NaN,STATE,ALASKA,2.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...",TOTAL,NOT SPECIFIED,"29,000",NaN
3,SURVEY,2021,YEAR,NaN,STATE,ARIZONA,4.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...",TOTAL,NOT SPECIFIED,"571,000",NaN
4,SURVEY,2021,YEAR,NaN,STATE,ARKANSAS,5.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...",TOTAL,NOT SPECIFIED,"6,986,000",NaN

In [14]:
df = df.drop (["Program", "Period", "Week Ending", "Geo Level", "State ANSI", "Ag District", "Ag District Code", "County", "County ANSI", "Zip Code", "Region", "watershed_code", "Watershed", "Domain", "Domain Category", "CV (%)"], axis=1)

In [15]:
df.head()

,Year,State,Commodity,Data Item,Value
0,2021,US TOTAL,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...","316,164,000"
1,2021,ALABAMA,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...","2,190,000"
2,2021,ALASKA,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...","29,000"
3,2021,ARIZONA,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...","571,000"
4,2021,ARKANSAS,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...","6,986,000"

In [16]:
df_Area_Cleaned = df

In [17]:
df_Area_Cleaned.head()

,Year,State,Commodity,Data Item,Value
0,2021,US TOTAL,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...","316,164,000"
1,2021,ALABAMA,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...","2,190,000"
2,2021,ALASKA,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...","29,000"
3,2021,ARIZONA,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...","571,000"
4,2021,ARKANSAS,FIELD CROP TOTALS,"FIELD CROP TOTALS, PRINCIPAL, INCL POTATOES - ...","6,986,000"